interface {{pascalCase name}}Props {
    
}

const {{pascalCase name}} = (props:{{pascalCase name}}Props) => {
    return <div data-testid="{{name}}">{{pascalCase name}}</div>
}

export default {{pascalCase name}}